= form_for Message.new, remote: true do |f|
  .columns
    .column.is-four-fifths
      .field
        .control
          = f.text_field :body, placeholder: 'Type here...', class: 'input'
    .column= f.submit class: 'button'
