- messages.each do |message|
  .chat-message-containter{"id" => "msg-id-#{message.id}"}
    %span#message-username{"style" => "color: ##{message.user.color}"}= message.username
    - if message.receiving_user_id
      %span#message-recipient= " → #{message.receiving_user.username}"
    %span= ": "
    %span#message-body= message.body
    - if message.can_delete?(current_user)
      %span.is-pulled-right= link_to "✖︎", message_path(message), method: :delete, remote: true
