#message-template{'style' => 'display: none'}
  .chat-message-containter#id-placeholder
    %span#message-username
    %span#message-recipient
    %span= ": "
    %span#message-body
    %span.is-pulled-right= link_to "✖︎", message_path(0), method: :delete, remote: true
