%h1.title Welcome!

.logout.is-pulled-right= link_to "Log Out", destroy_user_session_path, method: :delete

.columns
  .column

  .column.is-two-thirds
    .chat-window= render 'messages', messages: @messages
    = render 'form'
  .column

= render 'message_template'
