<!DOCTYPE html>
<html>
  <head>
    <title>Socket Chatter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section class="section">
      <div class="containter">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
